<div class="row" style="background-color:#ffffff">
	<div class="large-9 columns"><br>
<h5>About Us</h5>
<p>Name: Mahesh Kumar<br>
Company: Padmavathi Flower Decorators<br>
Address: 4-7-856 Esamia Bazar,<br> 
City: Hyderabad<br>
State: Andhra Pradesh<br>
Zip: 500068
Country: INDIA<br>
Email: madhu_sp2004@yahoo.co.in<br>
Tel: +91.9000555433<br>
Mobile: +91.9000555433</p>

	</div>
	<div class="large-3 columns change">
  <h5 align="center">See Gallery</h5><hr>
  <a href="/welcome/specifications"><u>Wedding Decoration</u></a><br><br>
<a href="#"><img src="/assets/w1.gif"></a><br><br>
<a href="#"><u>Reception Decoration</u></a><br><br>
<a href="#"><img src="/assets/r1.gif	"></a><br><br>
<a href="#"><u>Birthday Party Decoration</u></a><br><br>
<a href="#"><img src="/assets/b1.jpg"></a><br><br>
<a href="#"><u>Welcome Bord Decoration</u></a><br><br>
<a href="#"><img src="/assets/entrance-1.jpg"></a><br><br>

	</div>
</div>

<style type="text/css">
 div.change img:hover{
 	border:4px solid #232323;
 }

</style>