<div class="row" style="background-color:#ffffff">
	<div class="large-8 columns change1" align="center"><br>


	<p>Mahesh Kumar a florist by tradition and occupation started a small floral business in the
city of ‘Hyderabad’ with designs having ideasof natural decorations. Years after years his business
evolved as trust worthy, quality endowing and promising.<br>

Padmavathi Flower Decorators is a organization which has itself diversified in many fields like Wedding decoration,
Corporate parties and all type of events which included flower arrangement and decorations. Also
with wholesale flower and bouquets as their core business including exotic and imported flowers.
Pooja Florist is situated in Old ful galli from 25 yrs and 25 years of trustworthy business. We aslo
take order in pune, lonavla n nashik.</p>
<!-- <h5>About Us</h5> -->
<p>Name: Mahesh Kumar<br>
Company: Padmavathi Flower Decorators<br>
Address: 4-7-856 Esamia Bazar,<br> 
City: Hyderabad<br>
State: Andhra Pradesh<br>
Zip: 500068
Country: INDIA<br>
Email: madhu_sp2004@yahoo.co.in<br>
Tel: +91.9000555433<br>
Mobile: +91.9000555433</p>

	</div>
	<div class="large-3 columns change">
  <h5 align="center">See Gallery</h5><hr>
  <li><a href="/welcome/specifications">Wedding Decoration</a></li><br>
<a class="border" href="/welcome/gallery"><img src="/assets/w1.gif"></a><br><br>
<li><a href="/welcome/gallery">Reception Decoration</a></li><br>
<a href="/welcome/gallery"><img src="/assets/r1.gif	"></a><br><br>
<li><a href="/welcome/gallery">Birthday Party Decoration<</a></li><br>
<a href="/welcome/gallery"><img src="/assets/b1.jpg"></a><br><br>
<li><a href="/welcome/gallery">Welcome Bord Decoration</a></li><br>
<a href="/welcome/gallery"><img src="/assets/o1.jpg"></a><br><br>

	</div>
</div>

<style type="text/css">
 div.change img:hover{
 	border:1px solid #232323;
 }
.change {
  border-left: 1px solid #C0C0C0; 
}
.change li{
	text-align:center;
	display: block;
}

.change1{
	font-family: comic;
}

</style>