
<div class="row" style="background-color:#ffffff">

<div class="large-12 columns">
	<div class="large-7 columns">
		<br>
<h4>Contact Us </h4>

<address>

<b>Name:</b> Mahesh Kumar<br>
<b>Company:</b> Padmavathi Flower Decorators<br>
<b>Address:</b> 4-7-856 Esamia Bazar, Hyderabad<br>
<b>City:</b> Hyderabad<br>
<b>State:</b> Andhra Pradesh<br>
<b>Zipcode:</b> 500068<br>
<b>Country:</b> INDIA<br>
<b>Email:</b> madhu_sp2004@yahoo.co.in<br>
<b>Tel:<b> +91.9000555433,
Mobile: +91.9000555433
</address>

<div class="large-5 columns">
<br>
	<!--   place the map here -->
</div>
<br><br><br>


<br><br><br>
</div>