<div class="row" style="background-color:#ffffff">
<div class="large-12 columns">

<div class="large-3 columns">
<h4 style="font-family:verdaman" > See Gallery</h4>
<a href="/welcome/specifications"><u>Wedding Decoration</u></a><br><br>
<a href="#"><img src="/assets/w1.jpg"></a><br><br><br>
<a href="#"><u>Reception Decoration</u></a><br><br>
<a href="#"><img src="/assets/r1.jpg"></a><br><br><br>
<a href="#"><u>Birthday Party Decoration</u></a><br><br>
<a href="#"><img src="/assets/b1.jpg"></a><br><br><br>
<a href="#"><u>Welcome Bord Decoration</u></a><br><br>
<a href="#"><img src="/assets/entrance-1.jpg"></a><br><br><br>
</div>

<div class="large-9 columns">
	<ul class="example-orbit-content" data-orbit>
  <li data-orbit-slide="headline-1">
    <div>
      <h2>Headline 1</h2>
      <h3>Subheadline</h3>
    </div>
  </li>
  <li data-orbit-slide="headline-2">
    <div>
      <h2>Headline 2</h2>
      <h3>Subheadline</h3>
    </div>
  </li>
  <li data-orbit-slide="headline-3">
    <div>
      <h2>Headline 3</h2>
      <h3>Subheadline</h3>
    </div>
  </li>
</ul>
	

</div>

</div>
</div>


