<div class="row" style="background-color:#ffffff">
    

      <!-- <div class="large-3 columns">
        <br>

  <h6>Welcome to North India Steel Tubes Corporation</h6>
  <p style="text-indent:40px"><font size="2">North India having its Head Office at Hyderabad has steadily grown to become a premium dealer and stocks the best quality brands manufactured by the most reputed Manufacturers and leading Industrial houses in India.</font></p>
  </div> -->
  <div class="large-12 columns">
  
    <ul class="example-orbit" data-orbit="" data-options="animation_speed:600; timer_speed:2000; resume_on_mouseout:1; pause_on_hover:1; bullets:0" class="orbit-slides-container" style="height: 0px;"> 
    <li> 
      <img src="/assets/first.jpg" alt="slide 1" class="cimage"/> 
      <div class="orbit-caption"> Flower Decoration </div> 
    </li> 
    <li class="active">
     <img src="/assets/first.jpg" alt="slide 2" class="cimage"/> 
     <div class="orbit-caption"> Flower Decoration </div> 
    </li> 
    <li>
     <img src="/assets/third.jpg" alt="slide 3" class="cimage"/> 
     <div class="orbit-caption"> Flower Decoration </div>
      </li> 
    </ul>

<br>
  </div>
   
    <hr/>
    
 
  



    <br>
    <div class="large-4 columns change">
      <h5>Flower Decorators.</h5>
      <a href=""><img src="/assets/second.jpg" height="300px" width="300px"/></a>
      <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.</p>
      
      <br>
      
    </div>
    
    <div class="large-4 columns change">
      <h5>Flower Decorators</h5>
      <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.</p>
      <a href=""><img src="/assets/second1.jpg" height="300px" width="300px"/></a>
      
    </div>
    
    <div class="large-4 columns change">
      <h5>Flower Decorators</h5>
      <a href=""><img src="/assets/second2.jpg" height="300px" width="300px"/></a>
      <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.</p>
      
      
    </div>
 <br><br><br><br><br><br><br><br><br><br><br>
    </div>



 </div>

  <style type="text/css">

  

   .change p{
    font-size: 13px;
    text-indent:40px;
   }
   
   .cimage{
    width:100%;
    max-height: 300px !important;
   }

   div.change a:hover img{
    border:1px solid #272727;
   }

  .orbit-bullets { display: none; }

  .row{
    background-color: #ffffff;
  }

  </style>